.error404 {
    .error-404 {
        h1.page-title {
            font-size: 190px;
            margin: 0;
            line-height: .7;
            font-weight: 900;
            text-shadow: -2vmin 0vmin #8c1d1a;
            letter-spacing: 16px;
    
            @media (max-width: 767px) {
                font-size: 125px;
            }
    
        }
    }
}

.search-no-results {
    .remark-search-wrap {
        display: block;

        .remar-search-content {
            width: 100%;
            text-align: center;

            .page-title {
                font-size: 40px;
                font-weight: 800;
                color: #111;

                @media (max-width: 767px) {
                    line-height: 47px;
                    
                }

            }

            .no-results {
                .search-form {
                    max-width: 620px;
                    margin: 0 auto;
                    box-shadow: 0 10px 40px rgba(23, 34, 43, 0.05);

                    input[type="search"] {
                        padding: 20px;
                        border: 0;
                        border-radius: 7px;

                    }

                    input[type="submit"] {
                        cursor: pointer;
                        border-top-left-radius: 0 !important;
                        border-bottom-left-radius: 0 !important;
                        border-radius: 7px;

                    }
                }
            }

        }

    }

    .remark__search-sidebar, .remark-breadcrumbs {
        display: none;

    }
}
