.error404 {
    .error-404 {
        h1.page-title {
            font-size: 190px;
            margin: 0;
            line-height: .7;
            font-weight: 900;
            text-shadow: -2vmin 0vmin #8c1d1a;
            letter-spacing: 16px;
    
            @media (max-width: 767px) {
                font-size: 125px;
            }
    
        }
    }
}
