/*=======================
Pagination
=======================*/
.archive {
  .pagination {
    margin: 30px 0;

  }
}

.post-meta {
  li {
    display: inline-block;
    margin-right: 15px;

    &.post-category {
      span {
        display: inline-block;
        margin-bottom: 8px;

      }
    }

  }
}

.post-title {
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 11px;
}

.post-thumbnail {
  overflow: hidden;

  img {
    transform: scale(1);
    transition: .3s linear 0s;
  }
}

.type-post {
  &:hover {
    .post-thumbnail {
      overflow: hidden;
    
      img {
        transform: scale(1.05);
      }
    }
  }
}

.pagination {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 15px 0;
  margin: 30px 14px;

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

    .page-numbers {
      background: #F2F4F3;
      padding: 3px 12px;
      display: block;
      text-decoration: none;
      color: #333;
      margin: 0px 8px 0px 0px;
      outline: none;

      &:hover {
        background: #4DB2EC;
        color: #fff;

      }

      &.current {
        background: #4DB2EC;
        color: #fff;
        padding: 3px 12px;
      }

      &.dots {
        &:hover {
          background: #F2F4F3;
          color: inherit;
          
        }
      }
    }
  }
}

/*=======================
Post comment
=======================*/
.comments-area {
  .comments-title {
    margin-bottom: 30px;
    
  }

  .comment-body {
    padding: 0 0 22px 50px;
    position: relative;

    a {
      color: #000000;
      font-weight: 700;
      margin-bottom: 5px;
      display: inline-block;
      
    }

    p {
      color: #7e8490;
      margin-bottom: 10px;

    }

    .reply {
      a {
        background: #000;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        padding: 2px 12px;
        transition: .3s linear 0s;

        &:hover {
          background: #ba2a25;
        }

      }
    }

    .comment-metadata {
      a {
        color: #758598;
        font-size: 16px;
        font-weight: 400;

      }

      .edit-link {
        a {
          color: #ba2a25;
        }
      }
    }

    .comment-meta {
      a {
        margin-right: 4px;

      }
    }

    .comment-author {
      img {
        position: absolute;
        left: 0;
      }
    }

  }

  .comment-form {
    label {
      display: block;
      margin-bottom: 7px;

    }

    input[type="text"], input[type="email"], input[type="url"] {
      width: 100%;
      padding: 7px 10px;
      outline: none;
    }

    textarea {
      padding: 7px 10px;
      outline: none;
    }

    .comment-form-author, .comment-form-email {
      float: left;
      width: 48%;
    }
    .comment-form-author {
      margin-right: 28px;
    }
    .comment-form-email {
      margin-right: 0;
    }

    input[type="submit"] {
      background: #4DB2EC;
      color: #fff;
      border: 0px;
      outline: none;
      padding: 12px 30px;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
}

.search-results {
  .pagination {
    margin: 0;
  }
}