.single-post {
    .remark__single-post {
        .post-category {
            word-break: break-all;
            
            span {
                margin: 7px 6px;
                display: inline-block;

            }
        }

        .post-tag[class] {
            a {
                text-decoration: none;

                &:hover {
                    color: white;
                    
                }
            }
        }
    }
}