.widget-area {
  .wp-block-categories.wp-block-tag-cloud[class]{
    a {
      background: transparent;
      color: #758598;
      display: block;
      color: #758598;
      font-size: 16px !important;
      letter-spacing: 0.15px;
      line-height: 24px;
      font-weight: 400;
      transition: 0.3s linear 0s;

      &:hover {
        background: none;
        color: #4f46e5;

      }
    }
  }

  p {
    color: #1d495e;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;

  }

  .widget, .widget_block {
    background: #ffffff;
    padding: 20px;

    .cat-toggle-icon {
      position: absolute;
      right: 12px;
      cursor: pointer;
      transition: .3s linear 0s;

      &.active {
        transform: rotate(180deg);

      }
    }

    .widget-title {
      font-weight: 600;
      font-size: 24px;
      color: #272368;
      margin-bottom: 20px;

    }

    select {
      padding: 10px;

    }

    .cat-item {
      position: relative;

      .toggle-icon {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 0;

        &.active {
          transform: rotate(180deg);
        }
      }
    }

    .tagcloud, .wp-block-tag-cloud {
      a {
        font-size: 12px !important;
        font-weight: 400;
        color: #272368;
        margin: 0 1px 6px 0;
        padding: 3px 7px;
        display: inline-block;
        border: 1px solid #1d495e;
        border-radius: 20px;

        &:hover {
          background: #4f46e5;
          border: 1px solid #4f46e5;
          color: #ffffff;

        }
      }
    }

    ul {
      @media(max-width: 767px) {
        margin-bottom: 30px;
        
      }
      
      li {
        margin-bottom: 10px;

        a {
          color: #272368;
          font-size: 16px;
          letter-spacing: .15px;
          line-height: 24px;
          font-weight: 400;
          transition: .3s linear 0s;

          &:hover {
            color: #4f46e5;
          }
        } 

        time {
          color: #1d495e;
          font-size: 12px;
          font-weight: 300;

        }
      }
    }

    input[type="search"] {
      width: 100%;
      padding: 8px 11px;
      border: 0;
      background: #efefef;
      outline: none;
    }
    input[type="submit"] {
      display: none;
    }

    audio {
      min-width: 100%;

    }

    .wp-block-file a {
      display: block;
      margin: 0 0 10px;
      
    }

    .wp-block-file__button {
      display: inline-block !important;
      margin-bottom: 0;

    }

    .wp-block-media-text {
      display: inherit;
    }
  }

  .widget_nav_menu {
    li > ul, li > ol {
      margin-bottom: 0;
      margin-left: 15px;
    }
  }

}