.widget-area .wp-block-categories.wp-block-tag-cloud[class] a {
  background: transparent;
  color: #758598;
  display: block;
  color: #758598;
  font-size: 16px !important;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 400;
  transition: 0.3s linear 0s;
}
.widget-area .wp-block-categories.wp-block-tag-cloud[class] a:hover {
  background: none;
  color: #bb0000;
}
.widget-area p {
  color: #1d495e;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
}
.widget-area .widget, .widget-area .widget_block {
  background: #ffffff;
  padding: 20px;
}
.widget-area .widget .cat-toggle-icon, .widget-area .widget_block .cat-toggle-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  transition: 0.3s linear 0s;
}
.widget-area .widget .cat-toggle-icon.active, .widget-area .widget_block .cat-toggle-icon.active {
  transform: rotate(180deg);
}
.widget-area .widget .widget-title, .widget-area .widget h2, .widget-area .widget_block .widget-title, .widget-area .widget_block h2 {
  font-weight: 600;
  font-size: 24px;
  color: #222222;
  margin-bottom: 20px;
}
.widget-area .widget select, .widget-area .widget_block select {
  padding: 10px;
}
.widget-area .widget .cat-item, .widget-area .widget_block .cat-item {
  position: relative;
}
.widget-area .widget .cat-item .toggle-icon, .widget-area .widget_block .cat-item .toggle-icon {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
}
.widget-area .widget .cat-item .toggle-icon.active, .widget-area .widget_block .cat-item .toggle-icon.active {
  transform: rotate(180deg);
}
.widget-area .widget .tagcloud a, .widget-area .widget .wp-block-tag-cloud a, .widget-area .widget_block .tagcloud a, .widget-area .widget_block .wp-block-tag-cloud a {
  font-size: 12px !important;
  font-weight: 400;
  color: #40454d;
  margin: 0 1px 6px 0;
  padding: 3px 7px;
  display: inline-block;
  border: 1px solid #1d495e;
  border-radius: 20px;
}
.widget-area .widget .tagcloud a:hover, .widget-area .widget .wp-block-tag-cloud a:hover, .widget-area .widget_block .tagcloud a:hover, .widget-area .widget_block .wp-block-tag-cloud a:hover {
  background: #bb0000;
  border: 1px solid #bb0000;
  color: #ffffff;
}
@media (max-width: 767px) {
  .widget-area .widget ul, .widget-area .widget_block ul {
    margin-bottom: 30px;
  }
}
.widget-area .widget ul li, .widget-area .widget_block ul li {
  margin-bottom: 10px;
}
.widget-area .widget ul li a, .widget-area .widget_block ul li a {
  color: #40454d;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 400;
  transition: 0.3s linear 0s;
}
.widget-area .widget ul li a:hover, .widget-area .widget_block ul li a:hover {
  color: #bb0000;
}
.widget-area .widget ul li time, .widget-area .widget_block ul li time {
  color: #40454d;
  font-size: 12px;
  font-weight: 300;
}
.widget-area .widget input[type=search], .widget-area .widget_block input[type=search] {
  width: 100%;
  padding: 8px 11px;
  border: 0;
  background: #efefef;
  outline: none;
}
.widget-area .widget input[type=submit], .widget-area .widget_block input[type=submit] {
  display: none;
}
.widget-area .widget audio, .widget-area .widget_block audio {
  min-width: 100%;
}
.widget-area .widget .wp-block-file a, .widget-area .widget_block .wp-block-file a {
  display: block;
  margin: 0 0 10px;
}
.widget-area .widget .wp-block-file__button, .widget-area .widget_block .wp-block-file__button {
  display: inline-block !important;
  margin-bottom: 0;
}
.widget-area .widget .wp-block-media-text, .widget-area .widget_block .wp-block-media-text {
  display: inherit;
}
.widget-area .widget_nav_menu li > ul, .widget-area .widget_nav_menu li > ol {
  margin-bottom: 0;
  margin-left: 15px;
}

/*=======================
Pagination
=======================*/
.archive .pagination {
  margin: 30px 0;
}

.entry-content[class] {
  margin: 0;
}

.entry-title {
  color: #272368;
}

.sticky-post {
  margin-bottom: 8px;
  display: block;
}

.post-category a {
  color: #ffffff;
}
.post-category a:hover {
  color: #ffffff;
}

.post-meta .post-comments {
  color: #818181;
}
.post-meta .post-comments:hover {
  color: #bb2a26;
}
.post-meta li {
  display: inline-block;
  margin: 0 15px 8px 0;
}
.post-meta li.post-category span {
  display: inline-block;
  margin-bottom: 8px;
}
.post-meta li.post-category span a {
  padding: 8px 8px;
  display: inline-block;
  border-radius: 4px;
  color: #ffffff;
}

.post-title {
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 11px;
}

.post-thumbnail {
  overflow: hidden;
}
.post-thumbnail img {
  transform: scale(1);
  transition: 0.3s linear 0s;
}

.type-post:hover .post-thumbnail {
  overflow: hidden;
}
.type-post:hover .post-thumbnail img {
  transform: scale(1.05);
}

.pagination {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 15px 0;
  margin: 30px 14px 80px;
}
@media (max-width: 767px) {
  .pagination {
    width: 92%;
    margin: 30px 0 80px 14px;
  }
}
.pagination .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .nav-links .page-numbers {
  background: #F2F4F3;
  padding: 3px 12px;
  display: block;
  text-decoration: none;
  color: #222222;
  margin: 0px 8px 0px 0px;
  outline: none;
}
.pagination .nav-links .page-numbers:hover {
  background: #BB0000;
  color: #fff;
}
.pagination .nav-links .page-numbers.current {
  background: #BB0000;
  color: #fff;
  padding: 3px 12px;
}
.pagination .nav-links .page-numbers.dots:hover {
  background: #F2F4F3;
  color: inherit;
}

/*=======================
Post comment
=======================*/
.comments-area .comments-title {
  margin-bottom: 30px;
  color: #222222;
  font-weight: 700;
}
.comments-area ol, .comments-area ul {
  list-style: none;
}
.comments-area .logged-in-as a {
  color: #BB0000;
}
.comments-area .comment-body {
  padding: 0 0 22px 50px;
  position: relative;
}
.comments-area .comment-body a {
  color: #222222;
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;
}
.comments-area .comment-body p {
  color: #3a3a3a;
  margin-bottom: 10px;
}
.comments-area .comment-body .reply a {
  background: #BB0000;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  padding: 2px 12px;
  transition: 0.3s linear 0s;
}
.comments-area .comment-body .comment-metadata a {
  color: #818181;
  font-size: 13px;
  font-weight: 400;
}
.comments-area .comment-body .comment-metadata .edit-link a {
  color: #BB0000;
}
.comments-area .comment-body .comment-meta a {
  margin-right: 4px;
}
.comments-area .comment-body .comment-author img {
  position: absolute;
  left: 0;
}
.comments-area .comment-form label {
  display: block;
  margin-bottom: 7px;
}
.comments-area .comment-form input[type=text], .comments-area .comment-form input[type=email], .comments-area .comment-form input[type=url] {
  width: 100%;
  padding: 12px 10px;
  outline: none;
}
.comments-area .comment-form textarea {
  padding: 7px 10px;
  outline: none;
}
.comments-area .comment-form .comment-form-author, .comments-area .comment-form .comment-form-email {
  float: left;
  width: 48%;
}
.comments-area .comment-form .comment-form-author {
  margin-right: 28px;
}
.comments-area .comment-form .comment-form-email {
  margin-right: 0;
}
.comments-area .comment-form input[type=submit] {
  background: #BB0000;
  color: #fff;
  border: 0px;
  outline: none;
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}
.comments-area .comment-form .comment-form-cookies-consent[class] {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comments-area .comment-form .comment-form-cookies-consent[class] label {
  margin-bottom: 0;
}

.search-results .pagination {
  margin: 0;
}
.search-results .entry-meta a {
  margin: 0 5px;
  color: #818181;
}
.search-results .entry-meta a:hover {
  color: #BB0000;
}

.gallery-item .wp-caption-text {
  text-align: left;
}

/* =========================
Submenu
===================*/
.nav-menu ul {
  margin: 0;
}

.current-menu-item a {
  color: #BB0000 !important;
}

.nav-menu li.menu-item-has-children:hover > ul,
.nav-menu li.menu-item-has-children:focus > ul,
.nav-menu li.menu-item-has-children.focus > ul {
  right: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.15s linear, transform 0.15s linear;
}

.nav-menu li ul li.menu-item-has-children:hover > ul,
.nav-menu li ul li.menu-item-has-children:focus > ul,
.nav-menu li ul li.menu-item-has-children.focus > ul {
  right: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.15s linear, transform 0.15s linear;
}

@media (max-width: 1024px) {
  .nav-menu {
    display: block;
  }
}
.nav-menu li ul.sub-menu li ul.sub-menu li:before {
  display: none;
}
.nav-menu .menu-item-has-children {
  position: relative;
}
.nav-menu .menu-item-has-children:before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  position: absolute;
  right: 8px;
  top: -3px;
  transform: rotate(90deg);
}
.nav-menu .menu-item-has-children .sub-menu .menu-item-has-children:before {
  transform: rotate(0deg) translateY(-50%);
  top: 19px;
  right: 12px;
}

.nav-menu li a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.4s linear 0s;
  -moz-transition: 0.4s linear 0s;
  -ms-transition: 0.4s linear 0s;
  transition: 0.4s linear 0s;
  margin-right: 5px;
  color: #222;
}

.nav-menu li:hover > a {
  color: #BB0000;
}

.nav-menu li.active a {
  color: #BB0000;
}

.nav-menu li {
  position: relative;
}

.nav-menu ul.sub-menu {
  position: absolute;
  left: 0;
  top: 120%;
  width: 230px;
  z-index: 3;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s linear 0s;
  -moz-transition: 0.3s linear 0s;
  -ms-transition: 0.3s linear 0s;
  transition: 0.3s linear 0s;
  display: block;
  box-shadow: 0 10px 72px 4px rgba(9, 21, 0, 0.1);
  margin-top: 8px;
}

.nav-menu li:hover ul.sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.nav-menu ul.sub-menu li {
  display: block;
  margin-right: 0;
}

.nav-menu ul.sub-menu li a {
  color: #222;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
  width: auto;
  margin-right: 0;
}

.nav-menu ul.sub-menu li:hover > a {
  background: none;
  color: #BB0000;
}

.nav-menu ul.sub-menu li ul.sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  -webkit-transition: 0.3s linear 0s;
  -moz-transition: 0.3s linear 0s;
  -ms-transition: 0.3s linear 0s;
  transition: 0.3s linear 0s;
  margin-top: 0;
}
@media (max-width: 767px) {
  .nav-menu ul.sub-menu li ul.sub-menu {
    left: 0;
  }
}

.nav-menu ul.sub-menu li:hover > ul.sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* =========================
End Submenu
==========================*/
.entry-footer {
  clear: both;
}

.menu-wrap {
  position: relative;
}

@media (max-width: 1024px) {
  .menu-wrap {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .remark__header-right-section {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-branding img {
    width: 130px;
  }
}
.site-branding .site-title {
  font-size: 24px;
  margin-bottom: 2px;
  font-weight: 700;
}
.site-branding .site-title a {
  color: #bb2a26;
  text-decoration: none;
}

.toggle-icon-mobile {
  display: none;
  position: absolute;
  top: 29px;
  right: 16px;
  border: 1px solid #000;
  padding: 0 6px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .toggle-icon-mobile {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .toggle-icon-mobile {
    top: 12px;
    display: block;
  }
}

.site-header {
  padding: 25px 0;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .site-header {
    position: relative;
  }
  .site-header #site-navigation {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .site-header #site-navigation {
    width: 100%;
    padding-bottom: 10px;
  }
  .site-header #site-navigation li {
    margin-bottom: 10px;
  }
}
.site-header .remark__default-menu {
  margin: 0;
}
.site-header .remark__default-menu li {
  display: inline-block;
  margin-right: 22px;
  position: relative;
}
.site-header .remark__default-menu li a {
  font-size: 16px;
  color: #222;
  font-weight: 500;
}
.site-header .remark__default-menu li.page_item_has_children {
  position: relative;
}
.site-header .remark__default-menu li.page_item_has_children .icon:before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  position: absolute;
  right: 8px;
  top: -3px;
  transform: rotate(90deg);
}
.site-header .remark__default-menu li:hover .children {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.site-header .remark__default-menu .children {
  position: absolute;
  left: 0;
  top: 120%;
  width: 260px;
  z-index: 3;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s linear 0s;
  -moz-transition: 0.3s linear 0s;
  -ms-transition: 0.3s linear 0s;
  transition: 0.3s linear 0s;
  display: block;
  margin: 0;
  border: 1px solid #eee;
}
.site-header .remark__default-menu .children li {
  margin: 0;
  display: block;
}
.site-header .remark__default-menu .children li .icon:before {
  transform: rotate(0deg) translateY(-50%);
  top: 19px;
  right: 12px;
}
.site-header .remark__default-menu .children li a {
  display: block;
  padding: 7px 15px;
}
.site-header .remark__default-menu .children li .children {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  -webkit-transition: 0.3s linear 0s;
  -moz-transition: 0.3s linear 0s;
  -ms-transition: 0.3s linear 0s;
  transition: 0.3s linear 0s;
}
@media (max-width: 767px) {
  .site-header .remark__default-menu .children li .children {
    left: 0;
  }
}
.site-header .remark__default-menu li .children li:hover > .children {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.mobile-nav-toggle {
  display: none;
}
@media (max-width: 999px) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* =========================
Mobile Menu
==========================*/
.remark__mobile-menu {
  background: #fff;
  display: none;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  left: -99999rem;
  right: 99999rem;
  top: 0;
  transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
  z-index: 99;
}
.remark__mobile-menu ul li {
  border-color: #dedfdf;
  border-style: solid;
  border-width: 0.1rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  justify-content: flex-start;
  margin: 0;
}
.remark__mobile-menu.show-modal {
  display: block;
  z-index: 9999;
}
.remark__mobile-menu.active {
  left: 0;
  opacity: 1;
  right: 0;
  transition: opacity 0.25s ease-out;
}
.remark__mobile-menu button.close-nav-toggle[class] {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: flex-end;
  padding: 13px 22px 15px;
  width: 100%;
  border: 0;
  border-radius: 0;
}
.remark__mobile-menu button.close-nav-toggle .toggle-text {
  margin-right: 1.6rem;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.0375em;
}
.remark__mobile-menu .modal-menu > li > a,
.remark__mobile-menu .modal-menu > li > .anchor-wrapper > a {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #222222;
}
.remark__mobile-menu .modal-menu > li:last-child {
  border-bottom-width: 0.1rem;
}
.remark__mobile-menu .modal-menu .anchor-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.remark__mobile-menu .modal-menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  width: 100%;
  color: #222222;
}
.remark__mobile-menu .modal-menu a:focus,
.remark__mobile-menu .modal-menu a:hover,
.remark__mobile-menu .modal-menu li.current-menu-item > .anchor-wrapper > a,
.remark__mobile-menu .modal-menu li.current_page_anchor > .anchor-wrapper > a {
  text-decoration: underline;
}
.remark__mobile-menu button.sub-menu-toggle {
  border-left: 0.1rem solid #dedfdf;
  flex-shrink: 0;
  margin: 1rem 0;
  padding: 0 2.5rem;
}
.remark__mobile-menu .modal-menu ul {
  display: none;
  margin: 0;
  width: 100%;
}
.remark__mobile-menu .modal-menu ul.active {
  display: block;
}
.remark__mobile-menu .modal-menu ul li {
  border-left-width: 1rem;
}
.remark__mobile-menu .modal-menu ul li a {
  color: #222222;
  font-weight: 500;
}
.remark__mobile-menu .menu-modal .menu-top {
  flex-shrink: 0;
}
.remark__mobile-menu .anchor-wrapper .sub-menu-toggle {
  position: relative;
}
.remark__mobile-menu .anchor-wrapper .sub-menu-toggle:before {
  content: "\f078";
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  top: 0;
}
.remark__mobile-menu .anchor-wrapper .sub-menu-toggle.active:before {
  content: "\f078";
  transform: rotate(180deg);
}

/* =========================
End Mobile Menu
==========================*/
.admin-bar .remark__mobile-menu {
  top: 32px;
}

@media (max-width: 782px) {
  .admin-bar .menu-modal {
    top: 46px;
  }
}
button.toggle {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: inherit;
  padding: 0;
  text-transform: none;
  cursor: inherit;
}

.nav-toggle[class] {
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 4px;
}

.remark__widget-area .widget {
  margin: 0;
}
.remark__widget-area .widget .wp-social-link {
  font-size: inherit;
}
.remark__widget-area .widget .wp-block-social-links li {
  border: 0;
  margin: 0;
  padding: 0;
}
.remark__widget-area .widget .wp-block-social-links a {
  font-size: inherit;
  padding: 0.25em;
  margin: 0;
}
.remark__widget-area .widget .widget-title, .remark__widget-area .widget h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 28px;
  color: #ffffff;
  position: relative;
  display: inline-block;
}
.remark__widget-area .widget .widget-title:before, .remark__widget-area .widget h2:before {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 8px;
  background: #bb0000;
  width: 70px;
  height: 3px;
  display: inline-block;
  margin-left: 6px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .remark__widget-area .widget .widget-title:before, .remark__widget-area .widget h2:before {
    left: 0;
    bottom: -8px;
    margin-left: 0;
  }
}
.remark__widget-area .widget p, .remark__widget-area .widget .textwidget {
  color: #ddd;
  line-height: 28px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .remark__widget-area .widget ul {
    margin-bottom: 30px;
  }
}
.remark__widget-area .widget ul li {
  margin-bottom: 8px;
  border-bottom: 1px solid #222;
  padding-bottom: 16px;
}
@media (max-width: 1024px) {
  .remark__widget-area .widget ul li {
    margin-bottom: 12px;
    padding-bottom: 38px;
  }
}
.remark__widget-area .widget ul li.cat-item {
  position: relative;
}
.remark__widget-area .widget ul li.cat-item .toggle-icon {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
}
.remark__widget-area .widget ul li.cat-item .toggle-icon.active {
  transform: rotate(180deg);
}
.remark__widget-area .widget ul li:last-child {
  border-bottom: 0;
}
.remark__widget-area .widget ul li img {
  float: left;
  margin-right: 12px;
}
.remark__widget-area .widget ul li time, .remark__widget-area .widget ul li .post-date {
  font-size: 12px;
  color: #888;
  font-weight: 700;
}
.remark__widget-area .widget ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 21px;
  margin-bottom: 6px;
  transition: 0.3s linear 0s;
  display: block;
}
.remark__widget-area .widget ul li a:hover {
  color: #bb0000;
}
.remark__widget-area .widget .wp-block-categories {
  width: 100%;
}
.remark__widget-area .widget .wp-block-categories li {
  color: #ffffff;
  margin-bottom: 0;
  border: 0;
  padding: 0;
}
.remark__widget-area .widget .wp-block-categories li a {
  font-size: 14px !important;
  font-weight: 400;
  color: #ddd;
  padding: 2px 10px;
  display: inline-block;
  margin: 3px 2px;
  text-decoration: none;
  text-transform: capitalize;
}
.remark__widget-area .widget .wp-block-categories li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remark__widget-area .widget .wp-block-categories-dropdown select {
  padding: 7px;
  outline: none;
}
.remark__widget-area .widget .tagcloud a, .remark__widget-area .widget .wp-block-tag-cloud a {
  font-size: 13px !important;
  font-weight: 400;
  color: #ddd;
  border: 1px solid #222;
  padding: 2px 10px;
  display: inline-block;
  margin: 3px 1px;
  text-decoration: none;
  border-radius: 30px;
  text-transform: capitalize;
}
.remark__widget-area .widget .tagcloud a:hover, .remark__widget-area .widget .wp-block-tag-cloud a:hover {
  background: #bb0000;
  color: #ffffff;
  border: 1px solid #bb0000;
}

.site-footer p {
  color: #ffffff;
}
.site-footer a {
  color: #bb0000;
}